<div class="chat-container">
  <div class="chat-header">
    <div class="chat-title">
      <img src="https://th.bing.com/th/id/OIP.Klh1l7wkoG6PDPb9A5oCHQHaHa?rs=1&pid=ImgDetMain" alt="Angular logo">
      <h1>Angular Chat</h1>
    </div>
    <p class="chat-subtitle">Exclusive chat for Angular-related questions</p>
  </div>
  <div class="chat-messages">
    <div class="message">
      <div class="avatar">
        <img src="https://th.bing.com/th/id/OIP.Klh1l7wkoG6PDPb9A5oCHQHaHa?rs=1&pid=ImgDetMain" alt="Angular Expert">
      </div>
      <div class="message-content">
        <span class="message-author">Angular Expert</span>
        <span class="message-time">2:39pm</span>
        <p>¡Hola! ¿Cómo puedo ayudarte con tus preguntas relacionadas con Angular?</p>
      </div>
    </div>

    <div class="message user-message">
      <div class="avatar">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Usuario">
      </div>
      <div class="message-content">
        <span class="message-author">Usuario</span>
        <span class="message-time">2:40pm</span>
        <p>Hola, estoy teniendo problemas con el enrutamiento en mi aplicación Angular. ¿Puedes ayudarme?</p>
      </div>
    </div>

    <div class="message">
      <div class="avatar">
        <img src="https://th.bing.com/th/id/OIP.Klh1l7wkoG6PDPb9A5oCHQHaHa?rs=1&pid=ImgDetMain" alt="Angular Expert">
      </div>
      <div class="message-content">
        <span class="message-author">Angular Expert</span>
        <span class="message-time">2:41pm</span>
        <p>Claro, estaré encantado de ayudarte. ¿Puedes proporcionarme más detalles sobre el problema que estás enfrentando con el enrutamiento?</p>
      </div>
    </div>
  </div>
  <div class="chat-input-container">
    <input type="text" placeholder="Escribe tu mensaje...">
    <button class="send-btn">Enviar</button>
  </div>
</div>
